aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
anyio==4.4.0
attrs==24.2.0
audioread==3.0.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.5.14
decorator==5.1.1
faiss-cpu==1.8.0.post1
filelock==3.16.0
Flask==3.0.3
frozenlist==1.4.1
fsspec==2024.9.0
google-ai-generativelanguage==0.4.0
google-api-core==2.19.2
google-auth==2.34.0
google-generativeai==0.3.2
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.62.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.17.3
idna==3.9
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.0.170
langchain-core==0.1.52
langchain-google-genai==0.0.7
langsmith==0.1.120
lazy_loader==0.4
librosa==0.10.0
llvmlite==0.43.0
MarkupSafe==2.1.5
marshmallow==3.22.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
networkx==3.3
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
openapi-schema-pydantic==1.2.4
orjson==3.10.7
packaging==23.2
platformdirs==4.3.3
pooch==1.8.2
proto-plus==1.24.0
protobuf==4.25.4
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==1.10.18
pydub==0.25.1
PyPDF2==3.0.1
python-dotenv==1.0.0
PyYAML==6.0.2
regex==2024.9.11
requests==2.31.0
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
setuptools==74.1.2
sniffio==1.3.1
soundfile==0.12.1
soxr==0.5.0.post1
SQLAlchemy==2.0.34
sympy==1.13.2
tenacity==8.5.0
threadpoolctl==3.5.0
tokenizers==0.14.1
torch==2.4.1
tqdm==4.66.5
transformers==4.35.0
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.0.4
yarl==1.11.1
